# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

*.zip

rev1/
electronics/rev1
__pycache__/
software/venv
software/bin

*.hex
*.o

# Logfile
*.log

# Simulation Outputs
*.raw
*.fft

# Netlist
*.net

*.lck
